.loader1 {
    width: 60px;
    height: 60px;
    border-top: 4px solid black;
    border-radius: 100%;
    animation: spin 2s linear infinite;
    box-sizing: border-box;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
